version: "3.9"

services:
  postgres:
    image: postgres
    container_name: andrews
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: mydb
    volumes:
      - postgres_data:/var/lib/postgresql
    ports:
      - "5432:5432"
    # networks:
    #   - pg-network

  pgadmin:
    image: dpage/pgadmin4
    container_name: victor
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    depends_on:
      - postgres
    # networks:
    #   - pg-network

# networks:
#   pg-network:

volumes:
  postgres_data:
